
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding:  10px 20px;
  color: white;
  border: none;
  border-radius:  5px;
  cursor:  pointer;
  transition:  background-color 0.5s ease;
}

.add-button{
  background-color: green;
}
.add-button:hover{
  background-color: rgb(1, 160, 1);
}
.delete-button{
  background-color: rgb(177, 0, 0);
}
.delete-button:hover{
  background-color: red;
}
.move-button{
  background-color: rgb(0, 204, 255);
}
.move-button:hover{
  background-color: rgb(105, 219, 248);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid gray;
  border-radius:  5px;
  color: rgb(17, 16, 16);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding:  15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0,0%,85%,0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex:1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size:  1.4rem;
  margin-left: 10px;
}